include resrcs/mixins
block footer
    footer
        +ulGen([
            {"title": "Asawa Resort LLC.", "link": "index.scripts"},
            {"title": 'Legal Notice'},
            {"title": "Privacy Policy", "link": "policy.scripts"}
        ])