include resrcs/mixins
block footer
    footer
        +ulGen([
            {"title": "Asawa Resort LLC.", "link": "index.php"},
            {"title": 'Legal Notice'},
            {"title": "Privacy Policy", "link": "policy.php"}
        ])