extends resrcs/initDoc

append config
    - var metaDesc = "Asawa Resort, world-leading resort with top-notch service and state-of-the-art equipment to make your stay sensational. Ghana's finest!"
    - var pageTitle = 'Home | Asawa Resort'
    - var updateBodyClass = bodyClass.push('home')