// ==========================================================================
// #COMPONENT STYLES
// ==========================================================================
// Special Commands: SCSS_LINT
// scss-lint:disable StringQuotes, Comment, FinalNewline, NameFormat, ColorKeyword, ColorVariable, SelectorFormat, PropertySortOrder

// ==========================================================================
// #Box Modal
// ==========================================================================
.box {
  @include e(modal) {
    padding: 2rem;
    background-color: palette(grey, 'xx-light');
    font-family: $font-family-utility;

    @include m(wide) {
      margin: 0 auto;

      @include media-q('medium') {
        padding-left: 4.8rem;
        padding-right: 4.8rem;
        width: 85%;
      }

      @include media-q('large') {
        width: 117rem;
      }

      & .btn {
        margin-top: 2.4rem;
      }

    }
  }
}

// ==========================================================================
// #Circle Modal
// ==========================================================================
.circle {
  @include e(modal) {
    @extend %flex-sb;
    flex-direction: column;

    @include media-q('medium') {
      flex-direction: row;
    }

    @include m(item) {
      display: block;
      width: 20rem;
      height: 20rem;
      margin: 2.4rem auto;
      border-radius: 100%;

      h2 {
        line-height: 20rem;
        text-align: center;
      }

      @include media-q('medium') {
        width: 40rem;
        height: 40rem;
        display: inline-block;
        margin: auto 4.8rem;

        h2 {
          line-height: 40rem;
        }
      }
    }
  }
}

// ==========================================================================
// Sidebar
// ==========================================================================
.sidebar {
  background-color: transparent;
  color: $white;


  // Heading
  @include m(heading) {
    @extend %align-center;

    margin-bottom: 1.2rem;
    font-size: 2.618rem;
    color: palette(grey, 'dark');
    text-decoration: underline;

    @include media-q('medium') {
      margin-bottom: 0;
    }
  }

}

// ==========================================================================
// #MAP
// ==========================================================================
.map {
  width: 100%;

  @include media-q('medium') {
    width: 60%;
    padding: 0;
  }

  @include e(mod) {
    width: 100%;
    max-width: 117rem;

    .map {
      position: relative;
      padding: 0;

      @include media-q('medium') {
        //height: 0;
        padding-bottom: 28.125%; // Half of Aspect Ratio
        overflow: hidden;

        amp-iframe {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;

        }
      }
    }

    @include media-q('medium') {
      .map {
        width: 60%;
      }

      .address__box {
        width: 40%;
      }
    }
  }
}

// ==========================================================================
// #ADDRESS BOX
// ==========================================================================
.address {
  @include e(box) {
    @extend %flex-sb;

    flex-direction: column;
    width: 100%;
    height: 40rem;

    padding: 2.4rem;

    > .hdln__sec.address__box--hd {
      margin-top: 0;
      margin-bottom: 4.8rem;

    }
  }
}

// ==========================================================================
// #Contact Mod
// ==========================================================================
.contact {
  @include e(section) {

  }

  @include e(mod) {
    flex-basis: 100%;

    @include media-q('large') {
      flex-basis: 45%;

      &:nth-child(2) {
        margin-top: .1rem;
      }

      &.form__button--wrapper {
        flex-basis: 100%;
        margin: auto;

        .btn--error {
          margin-right: 9.4rem;
        }

        .btn--default {
          margin-left: 7.6rem;
        }
      }
    }
  }
}

// ==========================================================================
// #DOTTED LIST
// ==========================================================================
.dotted-list {
  padding-left: 3.6rem;
  list-style-type: square;
}


// ==========================================================================
// #NOTIFICATION
// ==========================================================================
.notification {
  @include e(wide) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1.2rem;
    background: $white;
    font-size: 1.4rem;


    @include media-q('medium') {
      flex-direction: row;
    }

    button {
      margin: 1.2rem 0;

      @include media-q('medium') {
        margin: 0 1.2rem;
      }
    }

    p {
      font-size: 1.4rem;
      line-height: 1.25;
    }
  }
}

amp-user-notification {
  box-shadow: 0 0 .5rem .2rem rgba(0, 0, 0, .1);
}


// ==========================================================================
// #MULTIBOX
// ==========================================================================




// ==========================================================================
// MISCELLANEOUS
// ==========================================================================
amp-accordion {
  .sidebar {
    @include media-q('medium') {
      display: none;
    }
  }
}