// ==========================================================================
// #DIVIDER STYLES
// ==========================================================================
// Special Commands: SCSS_LINT
// scss-lint:disable StringQuotes, Comment, FinalNewline, NameFormat, ColorKeyword, ColorVariable, SelectorFormat, PropertySortOrder

.hr {
  height: .1rem;
  max-width: 117rem;
  margin: 4.8rem auto 0;
  border: 0;
  background-color: palette(grey);
  color: palette(grey);
}