// ==========================================================================
// FORM STYLES
// ==========================================================================
// Special Commands: SCSS_LINT
// scss-lint:disable StringQuotes, Comment, FinalNewline, NameFormat, ColorKeyword, ColorVariable, SelectorFormat, PropertySortOrder

.form {
  @include e(rsrv) {
    @extend %modular-form;
    @extend %background-animation;

    @include media-q('large') {
      padding-top: 4rem;
      padding-bottom: 4.5rem;
    }

    .grid {
      @include media-q(medium) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 1;
      }
    }

    @include m(motor) {
      @extend %modular-form--motor;

      @include media-q('medium') {
        width: 100%;
        flex-direction: row;
        align-content: center;
        justify-content: space-around;
      }

      @include media-q('large') {
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
      }
    }

    @include m(hd) {
      margin-bottom: 1.2rem;
      color: $white;
      font-size: 2.346rem;
      line-height: 1;
      text-align: center;

      @include media-q('medium') {
        flex-basis: 100%;
        margin-bottom: 2.4rem;
      }
    }
  }

  @include e(mod) {
    @extend %modular-form--mod;

    @include media-q('medium') {
      margin-bottom: 0;
      font-weight: $font-weight-bold;
    }

    &.form__submit {
      width: auto;
      align-self: center;
    }

    #rooms,
    #adults,
    #children {
      padding-left: 47%; // to fix misalignment of numbers
    }
  }

  // Form Input
  @include m(input) {
    position: relative;
    width: 100%;

    margin-bottom: 2.4rem;
    padding: 1.6rem 2rem;
    background-color: palette(grey, 'x-light');
    color: palette(grey);
    font-family: $font-family-utility;
    font-size: 1.4rem;
    //z-index: 0;
    outline: none;

    &:focus,
    &:hover {
      background-color: palette(grey, 'xx-light');
    }

    @include media-q('medium') {
      max-width: 600px;
      margin-bottom: 3.6rem;
      //flex-basis: 45%;
      margin-left: auto;
      margin-right: auto;
      font-size: 1.6rem;

    }
  }

  // #Form Label
  @include e(label) {
    position: relative;
    display: block;
    margin-bottom: .8rem;
    font-family: $font-family-utility;
    font-weight: $font-weight-bold;
    line-height: 1;
    text-align: left;
    text-transform: uppercase;

    @include m(required) {
      @extend .form__label;

      @include p-el(after) {
        position: absolute;
        content: '*';
        font-size: 1.4rem;
        font-weight: $font-weight-normal;
        color: map_get($ui-colors-grad, 'error');
      }
    }
  }

  @include m(gotcha) {
    display: none;
  }

  // #Button Wrapper
  @include e(button) {
    @include m(wrapper) {
      display: flex;
      flex-direction: column;

      @include media-q('medium') {
        max-width: 60rem;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  // #Form Select
  @include m(select) {
    height: 5.04rem;
    line-height: 5.04rem;
    padding-top: 1.3rem;
  }

  // #Sidebar Form {
  @include e(sidebar) {
    .form__rsrv--motor {
      flex-direction: column;
      max-width: 100%;
    }

    .form__mod {
      @extend %modular-form--mod;
    }

    .book--text {
      border: 0;
    }

    .book__submit--rounded {
      border-radius: 0;
    }

    small {
      color: $white;
      @include media-q('medium') {
        margin-bottom: 2.4rem;
      }

      a {
        color: $white;
        text-decoration: underline;
      }
    }
  }
}

.book {
  @include m(text) {
    padding-left: calc(100% - 14rem);
    background-color: $white;
    color: $color-secondary;
    font-weight: $font-weight-light;

    @include media-q('medium') {
      padding: 2.8rem 3.6rem .8rem 7.2rem;
      border-left: 1px dotted palette(grey, 'light');

      font-size: 16px;
      font-weight: $font-weight-light;
      text-align: center;
    }

  }

  @include m(label) {
    position: absolute;
    width: 100%;
    top: .6rem;
    left: 0;
    line-height: 1;
    text-align: center;
    z-index: 1;
  }

  @include e(submit) {

    margin-bottom: 0;
    max-width: 60rem;

    @include m(rounded) {
      @include media-q('medium') {
        width: auto;
        height: 5.6rem;
        border-top-right-radius: 100rem;
        border-bottom-right-radius: 100rem;
        align-self: center;
      }
    }

    input {
      width: 100%; // make up for clicking on div wrapper so as to make entire button submittable
      height: 100%;
      color: palette(grey);
      font-family: $font-family-utility;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}

// ==========================================================================
// MISCELLANEOUS
// ==========================================================================
.form__mod .form--input {
  display: block;
  margin: 0 auto;
  padding: 2.8rem 0 .8rem 5%;
  text-align: center;

  @include media-q('medium') {
    padding-left: 20%;
  }
}