// ==========================================================================
// FORM STYLES
// ==========================================================================
// Special Commands: SCSS_LINT
// scss-lint:disable StringQuotes, Comment, FinalNewline, NameFormat, ColorKeyword, ColorVariable, SelectorFormat, PropertySortOrder

.form {
  @include e(rsrv) {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    background: ease-in-out-quad-gradient(to right, #9905d1, #9900cc);

    @include media-q('large') {
      padding-top: 4rem;
      padding-bottom: 4.5rem;
    }

    .grid {
      @include media-q(medium) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 1;
      }
    }

    @include m(motor) {
      display: flex;
      flex-wrap: nowrap;
      width: 100%;
      //align-items: baseline;
      flex-direction: column;
      flex-grow: 1;

      @include media-q('medium') {
        width: 100%;
        flex-direction: row;
        align-content: center;
        justify-content: space-around;
      }

      @include media-q('large') {
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
      }
    }



    @include m(hd) {
      //font-family: $font-family-tertiary;
      margin-bottom: 1.2rem;
      color: $white;
      font-size: 2.346rem;
      line-height: 1;

      @include media-q('medium') {
        flex-basis: 100%;
        margin-bottom: 2.4rem;
        text-align: center
      }
    }
  }

  @include e(mod) {
    position: relative;
    width: 100%;
    margin-bottom: 2.4rem;
    color: palette(grey);
    font-family: $font-family-utility;
    text-align: center;

    @include media-q('medium') {
      margin-bottom: 0;
      font-weight: $font-weight-bold;
    }

    &.form__submit {
      width: auto;
      align-self: center;
    }
  }

  // Form Input
  @include m(input) {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin-bottom: 2.4rem;
    padding: 1.6rem 2rem;
    background-color: palette(grey, 'x-light');
    color: palette(grey);
    font-family: $font-family-utility;
    font-size: 1.4rem;
    //z-index: 0;
    outline: none;

    &:focus,
    &:hover {
      background-color: palette(grey, 'xx-light');
    }

    @include media-q('medium') {
      margin-bottom: 3.6rem;
      //flex-basis: 45%;
      margin-left: auto;
      margin-right: auto;
      font-size: 1.6rem;

    }
  }

  // #Form Label
  @include e(label) {
    position: relative;
    display: block;
    margin-bottom: .8rem;
    font-family: $font-family-utility;
    font-weight: $font-weight-bold;
    line-height: 1;
    text-align: left;
    text-transform: uppercase;

    @include m(required) {
      @extend .form__label;

      @include p-el(after) {
        position: absolute;
        content: '*';
        font-size: 1.4rem;
        font-weight: $font-weight-normal;
        color: map_get($ui-colors-grad, 'error');
      }
    }
  }

  @include m(gotcha) {
    display: none;
  }

  // #Button Wrapper
  @include e(button) {
    @include m(wrapper) {
      display: flex;
      flex-direction: column;

      @include media-q('medium') {
        max-width: 60rem;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  // #Form Select
  @include m(select) {
    height: 5.04rem;
    line-height: 5.04rem;
    padding-top: 1.3rem;
  }
}

.book {
  @include m(text) {
    padding-left: calc(100% - 14rem);
    background-color: $white;
    font-weight: $font-weight-light;

      @include media-q('medium') {
        padding: 2.8rem 3.6rem .8rem 7.2rem;
        border-left: 1px dotted palette(grey, 'light');
        color: palette(grey, 'light');
        font-size: 16px;
        font-weight: $font-weight-light;
        text-align: center;
      }


  }

  @include m(label) {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    z-index: 1;

    @include media-q('medium') {
      top: .6rem;
      left: 50%;
      line-height: 1;
      transform: translateX(-50%);
    }
  }

  @include e(submit) {

    margin-bottom: 0;

    @include media-q(medium) {
      width: auto;
      height: 5.6rem;
      border-top-right-radius: 100rem;
      border-bottom-right-radius: 100rem;
      align-self: center;
      //padding: 0 3.6rem;
      //line-height: 1.5;
    }

    input {
      color: palette(grey);
      font-family: $font-family-utility;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}


.form__mod .form--input {
  margin: 0;
  text-align: right;
}