// ==========================================================================
// Icon Styles
// ==========================================================================
// Special Commands: SCSS_LINT
// scss-lint:disable StringQuotes, Comment, FinalNewline, NameFormat, ColorKeyword, ColorVariable, SelectorFormat, PropertySortOrder



.icn {
  @include e(logo) {
    background: image-url('logo/mobile-asawa-logo.svg') no-repeat center;
    text-transform: none;
    white-space: nowrap;

    @include media-q('medium') {
      background: image-url('logo/asawa-logo.svg') no-repeat center;
    }
  }

  // ==========================================================================
  // #Hamburger
  // ==========================================================================
  @include e(hamburger) {
    order: -1;
    transform: scale(-1, 1);
    background: image-url('icons/mobile-icon-hamburger.svg') no-repeat center transparent;
    cursor: pointer;

    @include media-q('medium') {

      background: image-url('icons/icon-hamburger.svg') no-repeat center;
    }
  }


  // ==========================================================================
  // #Close
  // ==========================================================================
  @include e(close) {
    width: auto;
    padding: 3.6rem 4.8rem;
    background: image-url('icons/icon-close.svg') no-repeat center / 20px transparent;

    @include media-q(medium) {
      padding: 4rem 8.4rem 8rem;
    }
  }
}

// ==========================================================================
// # DRY
// ==========================================================================
.icn__hamburger,
.icn__close {
  width: 3.4rem;
  height: 3.4rem;
  border: 0;

  @include media-q('medium') {
    width: 4rem;
    height: 4rem;
  }
}
