// ==========================================================================
// Image Styles
// ==========================================================================
// Special Commands: SCSS_LINT
// scss-lint:disable StringQuotes, Comment, FinalNewline, NameFormat, ColorKeyword, ColorVariable, SelectorFormat, PropertySortOrder

.img {
  @include e(main) {
    @include m(bckgrnd) {
      position: relative;
      height: 80vh;
      background: image-url('generic/index-background-768.jpg') no-repeat;
      @include image-gradient;

      @include media-q('medium') {
        //height: 90vh;
        background: image-url('generic/index-background-1200.jpg') no-repeat;
      }

      @include media-q('large') {
        background: image-url('generic/index-background-1920.jpg') no-repeat;
      }

      // Mobile Special
      @include media-q('min') {
        background: image-url('generic/index-background-480.jpg') no-repeat;
      }

      @media (max-width: 769px) {
        height: 100vh;
      }

      @include breakpoint($hidpi-port) {
        background: image-url('generic/index-background-768-port.jpg') no-repeat;
        background-size: cover;
      }

      @include breakpoint($hidpi-land) {
        background: image-url('generic/index-background-768-land.jpg') no-repeat;
        background-size: cover;

        .hdln__prim {
          font-size: 10vmax;
        }
      }
    }
  }

  // ==========================================================================
  // #ROW IMAGE
  // ==========================================================================
  @include m(row) {
    @include image-gradient;

    position: relative;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 30rem;

    @include media-q('medium') {
      height: 40rem;
    }

    > .hdln__prim {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translateX(-50%);

      @include media-q('medium') {
        transform: translate(-50%, -25%);
      }
    }
  }

  // ==========================================================================
  // Image Module
  // ==========================================================================
  @include e(mod) {
    margin-left: 3.5%;

    @include m(min) {
      padding: .8rem;
      background-color: $black;
      line-height: .8;
    }
  }

  // ==========================================================================
  // Gellery
  // ==========================================================================
  @include e(gallery) {
    display: block;
    margin-left: auto;
    margin-right: auto;

    @include media-q('medium') {
      width: 60%;
    }

    @include media-q('large') {
      max-width: 50%;
    }

    // ==========================================================================
    // Gallery Item
    // ==========================================================================
    @include m(item) {
      width: 100%;
    }

    // ==========================================================================
    // Guide Text
    // ==========================================================================
    @include m(text) {
      margin-top: 2.4rem;
      margin-bottom: 2.4rem;
    }
  }
}

// ==========================================================================
// LightBox
// ==========================================================================
amp-image-lightbox {
  background: rgba($color-primary, .6);
}


