// ==========================================================================
// Image Styles
// ==========================================================================

.img {
  @include e(main) {
    @include m(bckgrnd) {
      background: image-url('generic/index-background-768.jpg') no-repeat;
      height: 80vh;


      @include media-q('medium') {
        height: 90vh;
        background: image-url('generic/index-background-1200.jpg') no-repeat;
      }

      @include media-q('large') {
        background: image-url('generic/index-background-1920.jpg') no-repeat;
      }

      // Mobile Special
      @include media-q('min') {
        background: image-url('generic/index-background-480.jpg') no-repeat;
      }

      @media (max-width: 769px) and (orientation: landscape) {
        height: 100vh;
      }
    }
  }
}