// ==========================================================================
// #MISCELLANEOUS STYLES
// ==========================================================================
// Special Commands: SCSS_LINT
// scss-lint:disable StringQuotes, Comment, FinalNewline, NameFormat, ColorKeyword, ColorVariable, SelectorFormat
.menu {
  @include e(item) {
    display: block;
    position: relative;
    padding: 3.6rem 2.4rem 3.6rem 4rem;
    border-bottom: 1px solid palette(grey, 'x-light');
    color: $grey;
    font-size: 2.4rem;
    font-weight: $font-weight-light;

    @include media-q('medium') {
      padding-left: 7.4rem;
    }

    &:hover {
      background-color: palette(grey, 'x-light');
    }
  }
}

// ==========================================================================
// Sidebar
// ==========================================================================
.sidebar {
  @include m(heading) {
    @extend %align-center;

    margin-bottom: 1.2rem;
    font-size: 2.618rem;
    text-decoration: underline;

    @include media-q('medium') {
      margin-bottom: 0;
    }
  }
}

// ==========================================================================
// WeatherVane
// ==========================================================================
.wthr {
  @include e(child) {
    @extend %flex-sb;
    @extend %align-center;

    flex: 1;
    flex-direction: row;

    @include media-q('medium') {
      flex-direction: column;

      &--hd {
        margin-bottom: 1.2rem;
      }

      > li {
        display: flex;
        padding: 4.8rem 0;
        flex: 1;
        flex-direction: column;
        justify-content: center;
      }
    }

    > li {
      position: relative;
      flex-basis: 45%;

      &:first-child {
        @include p-el(after, 100%, auto) {
          position: absolute;
          top: 0;
          right: -10%;
          bottom: 0;
          border-right: 1px dotted palette(grey, 'light');

          @include media-q('medium') {
            width: 90%;
            bottom: 0;
            right: 5%;
            left: 5%;
            border-right: none;
            border-bottom: 1px dotted palette(grey, 'light');
          }
        }
      }
    }


    @include m(hd) {
      margin-bottom: .6rem;
      color: palette(grey);
      font-size: 1.618rem;

      .mm-dd {
        font-size: 1.4rem;
        font-weight: $font-weight-light;
        //color: palette(grey, 'light');
      }
    }
  }

  // Weather Temp
  @include e(temp) {
    display: block;
    margin-bottom: 1.2rem;
    color: map_get($ui-colors-grad, error);
    font-size: 1.8rem;
    font-weight: $font-weight-bold;

  }

  @include e(desc) {
    font-size: 1.4rem;
  }

  // Suggested Activity
  @include m(actv) {
    a {
      color: $color-secondary;
    }
  }
}


// ==========================================================================
// Item Layers for Menus
// ==========================================================================
.item {
  @include e(layer) {
    @include m(1) {
      display: flex;
      flex-direction: column;
    }
  }
}

// ==========================================================================
// Box Modal
// ==========================================================================
.box--modal {
  padding: 2.4rem 1.2rem;
  background-color: palette(grey, 'xx-light');
  font-family: $font-family-utility;
}