block config
    include config

doctype
html(lang='en' amp)
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="ie=edge,chrome=1")
        meta(name="viewport", content="width=device-width, minimum-scale=1.0, initial-scale=1.0")
        meta(name="description", content = metaDesc)
        title
            block titleText
                | #{pageTitle}

    body(class=bodyClass)