.idea

config.rb
.jpg
.svg
.png
/STOCK/
/node_modules/
/.gtm/
/framework/src/assets/images
/framework/src/assets/fonts/
/framework/build/assets/fonts/
/framework/build/assets/images/
/bower_components/
/framework/build/
/Emergency_patch_to_gulp_html_watch_task.patch
/files.zip
/files/
