// ==========================================================================
// DEFAULT CONFIGURATIONS
// ==========================================================================
// Special Commands: SCSS_LINT
// scss-lint:disable StringQuotes, Comment, FinalNewline, NameFormat, ColorKeyword, ColorVariable, SelectorFormat

// Font Stacks
$font-family-primary: 'Playfair Display', serif;
$font-family-secondary: 'Kaushan Script', serif;
$font-family-tertiary: 'WCManoNegraBta', serif;
$font-family-generic: 'Rubik', sans-serif;

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-ultrabold: 900;

// Call Color-Me-Sass
@import "../../../../../node_modules/color-me-sass/color-me-sass";

// Base Colors
$black: rgb(51, 51, 51);
$white: $whiteAntiflash;
$grey: $grayGunmetal;

// Brand Colors
$color-primary: #90c;
$color-primary-gradient: linear-gradient(-60deg, #90c, #9905d1, #93f);
$color-secondary: $blueVirb;
$color-accent: $yellow;

// Color Palette
$color-palettes: (
        grey: (
                x-light: lighten($grey, 60%),
                light: lighten($grey, 30%),
                base: $grey,
                dark: darken($grey, 10%)
        )
);

$ui-colors: (
        default: $color-secondary,
        success: $green,
        error: $redBright
);

// Grid (All multiples of 24px, the baseline
$g-col-w: 80px; // Grid Column Width
$g-gutter-w: 20px; // Grid Gutter Width
$g-col-c: 12; // Grid Column Count
$g-max-w: 1200px; // Maximum Grid Width

// Breakpoints
$breakpoint-min: 1px;
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1200px;