// Special Commands: SCSS_LINT
// scss-lint:disable StringQuotes, Comment, FinalNewline, NameFormat, ColorKeyword, ColorVariable, SelectorFormat


@import "mixins";

// Screen reader text
.srt {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  border: 0;
  overflow: hidden;
}

// For Pseudo Elements
%pseudos {
  position: absolute;
  content: '';
}

// Gradient on Images


// Center alignment

%align-center {
  text-align: center;
}

// Left Text Align
%align-left {
  text-align: left;
}

// Right Text Align
%align-right {
  text-align: right;
}

%b-color-primary {
  background-color: $color-primary;
}

%b-color-primary-gradient {
  background: $color-primary-gradient;
}

%b-color-secondary {
  background-color: $color-secondary;
}

%color-primary {
  color: $color-primary;
}

%color-primary-gradient {
  background-image: $color-primary-gradient;
}

%color-secondary {
  color: $color-secondary;
}

%flex-sb {
  display: flex;
  justify-content: space-between;
}

%icn-sm {
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  border: 0;
  text-transform: none;
  white-space: nowrap;
  cursor: pointer;
}

%icn-md {
  width: 3.4rem;
  height: 3.4rem;
  border: 0;
}

%icn-sm,
%icn-md {
  @include media-q('medium') {
    width: 4rem;
    height: 4rem;
  }
}

// Animated Background
%background-animation {
  background: linear-gradient(270deg, #9900cc, $color-secondary, #9905d1);
  background-size: 600% 600%;
  animation: gradientTransition 40s ease infinite;
}