// ==========================================================================
// HEADER STYLES
// ==========================================================================
// Special Commands: SCSS_LINT
// scss-lint:disable StringQuotes, Comment, FinalNewline, NameFormat, ColorKeyword, ColorVariable, SelectorFormat, PropertySortOrder
.hdr {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  background-color: $white;
  //box-shadow: 0 0 40px 0 rgba(0, 0, 0, .15);

  @include media-q('medium') {
    .page-index & {
      background: transparent;
      box-shadow: none;
    }
  }

  // Primary Items
  &__prim--items {
    a:hover {
      color: $grey;
    }
  }


  // Header Title
  @include e(title) {
    width: auto;
    padding: 2.4rem 5.6rem 2.4rem;

    @include media-q(medium) {
      padding: 4rem 6.2rem 8rem;
    }
  }
}

amp-sidebar {
  width: 85vw;

  @include media-q('medium') {
    width: 40vw;
  }



  // Dynamic Layer
  .dynamic__layer {
    background-color: $white;

    @include p-el(after, 100vh, 1rem) {
      @extend %b-color-primary-gradient;
      top: 0;
      bottom: 0;
      left: 0;
    }

    &.primary {
      position: relative;
      height: 100vh;
    }

    &.secondary {
      z-index: 2;

      &:after {
        width: .2rem;
      }
    }


    .hdr__prim--items {
      position: absolute;
      top: 12rem;
      bottom: 0;
      right: 0;
      left: 0;
      overflow-x: hidden;
      overflow-y: scroll;
    }

    input[type="checkbox"] {
      position: absolute;
      visibility: hidden;
    }

    input:checked+.submenu {
      transform: translateX(0);
    }

  }
}

// Header Primary Items
.hdr__prim--items {
  @include media-q('medium'){
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

// SubMenu
.submenu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $white;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(.36, .11, .59, .84);
}

// Layer Items
.layer {
  @include m(items) {
    a {
      font-size: 1.8rem;
    }
  }
}

// Sidebar Mask
[class*="amphtml-sidebar-mask"] {
  @extend %b-color-primary;
  opacity: .6;
}
