<!-- Back to Top -->
<a href="#top" class="nav--quick" role="button">
    <button>To Top</button>
</a>


<footer class="footer">
    <section class="footer__prim">
        <div class="grid">
            <!-- NewsLetter -->
            <form action="/" target="_top" class="form footer__item">
                <h3 class="footer__item--hd">Join Our Mailing List</h3>
                <label for="nwsl_usr_email" class="srt">Email Address</label>
                <input type="email" id="nwsl_usr_email" class="form--input" placeholder="E-mail e.g. example@asawa.com">
                <input type="submit" value="Subscribe" class="btn btn--default">
            </form>
        </div>
        <div class="grid">
            <!-- Social Media -->
            <div class="footer__item">
                <h3 class="footer__item--hd">Be A Part Of It</h3>
                <div class="flex__footer--social">
                    <a href="#">
                        <i class="icn--social facebook" title="Our Facebook Page"></i>
                    </a>
                    <a href="#">
                        <i class="icn--social twitter" title="Our Twitter Page"></i>
                    </a>
                    <a href="#">
                        <i class="icn--social instagram" title="Our Instagram Page"></i>
                    </a>
                    <a href="#">
                        <i class="icn--social pinterest" title="Our Pinterest Page"></i>
                    </a>
                </div>
            </div>

            <!-- Contact Info -->
            <div class="footer__item">
                <div class="flex">
                    <i class="icn__contact tel"></i>
                    <span>+233 544 524 830</span>
                </div>

                <div class="flex">
                    <i class="icn__contact location"></i>
                    <span>14 Asawa Drive, Red Mtn, Koforidua.</span>
                </div>

                <div class="flex">
                    <i class="icn__contact email"></i>
                    <span>info@asawaresort.ml</span>
                </div>
            </div>

            <!-- Affiliate -->
            <div class="footer__item affiliate">
                <a href="#">
                    <div class="icn__affiliate"></div>
                    <span>By Elite Comforts</span>
                </a>
            </div>
        </div>
    </section>


    <section class="footer__sec">
        <div class="grid">
            <small> All Rights Reserved.</small>

            <small>
                &copy;Asawa Resort LLC. 1994 &mdash; 2017.
            </small>

            <small>
                <a href="/legal/privacy.html">Privacy Policy</a>
            </small>
        </div>
    </section>

</footer>