<!-- Primary Header -->
<header class="hdr_prim">
    <ul class="flex-nav">
        <li>
            <button class="navbar-trigger" role="button" on="tap:hamburger.toggle" tabindex="0">☰</button>
        </li>
        <li>
            <a href="index.html">
                <amp-img src="../assets/images/logo/asawa-logo.svg" width="60" height="60" layout="fixed"></amp-img>
            </a>
        </li>

        <li>
            <a href="availability.html" class="">Check Availability</a>
        </li>
    </ul>
</header>