<!-- Primary Header -->
<amp-sidebar id="sidebar" layout="nodisplay" side="left">
    <form action="/" class="dynamic__layer primary" target="_top" novalidate>
        <button type="reset" class="icn__close" on="tap:sidebar.close" aria-label="Close Sidebar Button"></button>

        <div class="hdr__prim--items">
            <a href="/" class="menu__item">Home</a>
            <label class="menu__item item__layer--1 has--sub-lvl"><input type="checkbox">Services
                <div class="submenu dynamic__layer secondary">
                    <!-- Submenu Back Key -->
                    <div class="btn__prev">Back</div>
                    <button type="reset" class="icn__close" on="tap:sidebar.close"></button>

                    <!-- Submenu Content -->
                    <div class="layer--items">
                        <a href="/services/gym.php" class="menu__item layer__item--lvl2">Gym</a>
                        <a href="/services/spa.php" class="menu__item layer__item--lvl2">Spa</a>
                    </div>
                </div>
            </label>
            <a href="/reservations/deals.php" class="menu__item">Deals</a>
            <a href="/reservations/booking.php" class="menu__item">Booking</a>
            <a href="/about.php" class="menu__item">Our Company</a>
            <a href="/contact.php" class="menu__item">Contact</a>
        </div>
    </form>
</amp-sidebar>

<header class="hdr hdr__prim">

    <div class="grid">
        <section class="nav__container">
            <!-- Left Navigation -->
            <div class="flex__nav tab">
                <a href="/" class="hdr__title icn__logo">
                    <span class="srt">Asawa Resort Logo</span>
                </a>
                <button class="icn__hamburger" id="menu__toggle" on="tap:sidebar.toggle" role="button"><span class="">Menu</span></button>

                <!-- Right Navigation -->
                <div class="btn btn__primary btn--hollow icn__check">
                    <a href="/reservations/deals.php">Deals</a>
                </div>
            </div>
        </section>
    </div>
</header>