<!-- Primary Header -->
<header class="hdr_prim">
    <section class="main__bckgrnd">
        <amp-img class="main__bckgrnd--img" src="../assets/images/index-background.jpg" width="1920" height="880"
                 layout="fixed"></amp-img>

        <div class="main__backgrnd--inner">
            <h2 class="hdln--prim">Discover Asawa</h2>
            <h5>The all-in-one getaway you've been yearning for.</h5>

            <div>
                <button class="btn btn__explore"></button>
                <span>Explore</span>
            </div>
        </div>
    </section>
    <ul class="flex-nav">
        <li>
            <button class="navbar-trigger" role="button" on="tap:hamburger.toggle" tabindex="0">☰</button>
        </li>
        <li>
            <a href="index.html">
                <amp-img src="../assets/images/logo/asawa-logo.svg" width="60" height="60" layout="fixed"></amp-img>
            </a>
        </li>

        <li>
            <a href="availability.html" class="">Check Availability</a>
        </li>
    </ul>
</header>