<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0">
<script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
<script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
<script async custom-element="amp-user-notification" src="https://cdn.ampproject.org/v0/amp-user-notification-0.1.js"></script>
<script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>

<!-- Favicon -->
<link rel="shortcut icon" href="/assets/images/logo/favicon.ico">
<link rel="icon" type="image/png" href="/assets/images/logo/favicon-128.png" sizes="128x128">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/logo/favicon-180.png">


<!-- @if !devBuild -->
<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Playfair+Display:400,700" rel="stylesheet">
<!-- @endif -->

<!-- @include amp-boilerplate.txt -->
<meta name="description"
      content="Asawa Resort, world-leading resort with top-notch service and state-of-the-art equipment to make your stay sensational. Ghana's finest!">


<!-- @if devBuild -->
<style amp-custom>
    <!-- styles:css  -->
    <!-- endinject -->
</style>
<!-- @endif -->



<!-- @if !devBuild -->
<style amp-custom>
    <!-- styles.min:css  -->
    <!-- endinject -->
</style>
<!-- @endif -->