// ==========================================================================
// Contact Page Styles
// ==========================================================================
// Special Commands: SCSS_LINT
// scss-lint:disable StringQuotes, Comment, FinalNewline, NameFormat, ColorKeyword, ColorVariable, SelectorFormat, PropertySortOrder

.page-contact {
  .img--row {
    background-image: image-url('generic/mobile-head-contact.jpg');
    background-size: cover;

    @include media-q('medium') {
      background-image: image-url('generic/head-contact.jpg');
    }
  }

  .box__modal--wide {
    padding-bottom: 0;

    @include media-q('medium') {
      width: 100%;
    }

    .address__box {
      background-color: $black;
      color: $white;
    }
  }
}