// ==========================================================================
// Deal Page Styles
// ==========================================================================
.page-deals {
  .img--row {
    background-image: image-url('generic/mobile-head-deals.jpg');

    @include media-q('medium') {
      background-image: image-url('generic/head-deals.jpg');
    }
  }

  .node {
    flex-direction: column;
    flex-wrap: wrap;

    @include media-q('medium') {
      flex-direction: row;
    }
  }

  .node__item {
    h2 {
      margin-top: 1.2rem;
      font-size: 2rem;
      text-transform: uppercase;
    }
  }
}

// ==========================================================================
// Full Deals Page
// ==========================================================================
.page-deals-offer {
  .hdln__prim {
    text-transform: lowercase;
    line-height: 1.2;
  }

  .terms {
    small {
      font-family: $font-family-utility;
      font-size: 1.2rem;
    }
  }


  // ==========================================================================
  // Deal Images
  // ==========================================================================
  .text-hdln {
    background: $black;

    h2 {
      padding: 2.4rem 0;
      background: $color-primary;

      @include media-q('medium') {
        max-width: 70%;
      }
    }
  }

  // Three for 2
  .three-nights-for-2 {
    background: image-url('deals/mobile-head-deal-342.jpg') no-repeat;
    background-size: cover;

    @include media-q('medium') {
      background: image-url('deals/head-deal-342.jpg') no-repeat;
    }
  }

  // Royal SPa Package
  .royal-spa-package {
    background: image-url('deals/mobile-head-deal-royal-spa.jpg') no-repeat;
    background-size: cover;

    @include media-q('medium') {
      background: image-url('deals/head-deal-royal-spa.jpg') no-repeat;
    }
  }

  // GH¢100 Credit Stay for 2
  .stay-for-2-cred-100 {
    background: image-url('deals/mobile-head-deal-stay-for-2.jpg') no-repeat;
    background-size: cover;

    @include media-q('medium') {
      background: image-url('deals/head-deal-stay-for-2.jpg') no-repeat;
    }
  }

  // All-Inclusive Family Escape
  .all-family-escape {
    background: image-url('deals/mobile-head-deal-family.jpg') no-repeat;
    background-size: cover;

    @include media-q('medium') {
      background: image-url('deals/head-deal-family.jpg') no-repeat;
    }
  }
}