// ==========================================================================
// Gym Page Styles
// ==========================================================================
.page-gym {
  .img--row {
    background-image: image-url('generic/mobile-head-gym.jpg');

    @include media-q('medium') {
      background-image: image-url('generic/head-gym.jpg');
    }
  }

  .icn__modal {
    margin-bottom: -4.8rem;
  }
}
