// ==========================================================================
// Privacy Styles
// ==========================================================================
// Special Commands: SCSS_LINT
// scss-lint:disable StringQuotes, Comment, FinalNewline, NameFormat, ColorKeyword, ColorVariable, SelectorFormat, PropertySortOrder

.page-privacy {
  .img--row {
    background-image: image-url('generic/mobile-head-privacy.jpg');

    @include media-q('medium') {
      background-image: image-url('generic/head-privacy.jpg');
    }
  }
}


.legal {
  @include e(section) {
    text-align: justify;
  }
}