// ==========================================================================
// Reservation Page Styles
// ==========================================================================
.page-reservations {
  .img--row {
    background: image-url('generic/mobile-head-reservations.jpg') no-repeat;
    background-size: cover;

    @include media-q('medium') {
      background: image-url('generic/head-reservations.jpg') no-repeat;
    }
  }
}